.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: "flex";
  justify-content: "flex-end";
  margin-top: 50px;
}
.button {
  margin: 0 10px;
}
.backButton {
  margin-right: 20px;
}
.stepper {
  margin-top: 20px;
  margin-bottom: 30px;
}

.pokemonImage {
  width: 15rem;
}
