.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.filterItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.filterLabel {
  margin-right: 0.5rem;
}

.filterInput {
  width: 8rem;
  padding: 8px 3px;
  border-radius: 5px;
  border: 1px solid #bbb;
}
