.modalImage {
  width: 11rem;
}

.modalContent {
  width: 28rem;
  padding: 10px;
}

.modalImageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalDetails {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(224, 238, 244);
  margin: 0 1rem;
  border-radius: 6px;
  padding: 0.4rem;
}

.modalDetails li {
  margin-right: 2rem;
  font-size: medium;
}

.modalSubtitle {
  font-weight: bold;
}

.name {
  color: rgb(237, 84, 29);
  font-weight: bold;
  font-size: larger;
  margin-left: 1.5rem;
}

.statsName {
  color: rgb(237, 84, 29);
  font-weight: bold;
  font-size: small;
  margin-right: 0.5rem;
  margin-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .modalContent {
    width: 20rem;
    padding: 10px;
  }
  .modalImage {
    width: 8rem;
  }
  .modalDetails {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 238, 244);
    margin: 0 1rem;
    border-radius: 6px;
    padding: 0.4rem;
  }
}
